body {
  margin: 0;
}

body, button {
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: flex;
  height: 100vh;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  border-radius: 10px;
  background-color: $color-white;
  padding: 20px;
}
