// Colors
$transparent: rgba(0,0,0,0);
$color-white: #FFF;
$color-dark-white: #FCFCFC;
$color-text: #212529;
$color-border: #979797;

$color-main: #182d57;
$primary-color: $color-main;

$color-dark: #252422;
$color-light-dark: #777;
$color-grey: #EEE;

$color-green: #7AC29A;
$color-orange: #F3BB45;
$color-red: #EB5E28;
$color-blue: #68B3C8;

// Sizes
$font-size: 17px;
$header-height: 94px;
$aside-width: 200px;
